@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-color: #131316;
    --text-color: #fffc;
    --light-text: #fff6;
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    line-height: 1.9em;
    letter-spacing: 0.7px;
}

a {
    color: var(--text-color);
    text-decoration: none;

    > :hover {
        color: white;
    }
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    width: fit-content;
    font-size: clamp(0.9em, 1.5vw, 1.5em);
}

h2 {
    width: fit-content;
    font-size: clamp(1.2em, 3vw, 2.7em);
}

h3 {
    font-size: clamp(1em, 2.2vw, 2.2em);
}

h4 {
    width: fit-content;
    font-size: clamp(0.9em, 1.55vw, 1.6em);
}

h5 {
    width: fit-content;
    font-size: clamp(0.7em, 1.2vw, 1.2em);
    color: var(--light-text);
}

p {
    width: fit-content;
    font-size: clamp(0.6em, 1.15vw, 1.1em);
}

section {
    display: grid;
    place-items: center;
    text-align: left;
    align-content: center;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 50%, rgba(13, 13, 16, 0.9), rgba(13, 13, 16, 0.9)),
    url("../assets/grainyEffect.svg");
    /*border-top: 1px solid white;*/
}

/*fade transition*/

.hidden {
    opacity: 0;
    transition: all 2s;
}

.fade {
    opacity: 1;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    /*border-bottom: 1px solid white;*/
    padding: 2em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.4em, 1vw, 1em);
}

.navbar_right {
    display: flex;
    gap: 3em;
}

.container {
    margin: 0 7em;
}

.navbar_icons {
    margin-left: 2em;
    display: flex;
    gap: 1.5em;
}

/*section home*/



.section_home_container {
    display: flex;
    gap: 5em;
}

/*magic gradient effect*/

.magic {
    animation: background-pan 2s linear infinite;
    background: linear-gradient(
            to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple)
    );
    background-size: 200%;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.section_home_left {
    display: flex;
    flex-shrink: 1.5;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;

    > h5 {
        font-size: clamp(0.7em, 1.4vw, 1.4em);
    }
}

.section_home_right {
    border: 1px solid white;
    max-width: 20em;
    max-height: 25em;

    > img {
        margin-top: 0.8em;
        margin-left: 0.8em;
    }
}

/*section_1*/

.section_1_container {
    display: flex;
    justify-content: space-between;


}

.section_1_left {
    flex-shrink: 1.5;
}

.section_1_right {
    padding-left: 5em

}

.slide {
    transform: translateX(150%);
}

.slide_on {
    transform: translateX(0);
}

#section_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.section_1_header {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    text-align: center;
    padding: 0 20em;
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills_object {
    transition: 1s;

    background-color: #fff2;
    padding: 8px 17px;
    border-radius: 5px;
    font-size: clamp(0.6em, 0.9vw, 1em);
}
